<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Usuario" labelPlacement="stacked" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" labelPlacement="stacked" type="password" [(ngModel)]="pswd"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button>
  <ion-button expand="block" (click)="signUp()">Registrarse</ion-button>
</ion-content>
