<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Usuario" labelPlacement="stacked" [(ngModel)]="loginUsername"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" labelPlacement="stacked" type="password" [(ngModel)]="loginPswd"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button>
  <ion-button expand="block" (click)="signUp()">Registrarse</ion-button>
  
</ion-content>

<ion-modal>
  <ng-template>
      <ion-header>
          <ion-toolbar>
              <ion-title>Registrarse</ion-title>
              <ion-buttons slot="end">
                  <ion-button (click)="closeModal()" color="danger">Cancelar</ion-button>
              </ion-buttons>
          </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-item>
              <ion-input label="Nombre" labelPlacement="stacked" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input label="Username" labelPlacement="stacked" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input label="Contraseña" labelPlacement="stacked" [(ngModel)]="pswd" type="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input label="Confirmar contraseña" labelPlacement="stacked" [(ngModel)]="confirmPswd" type="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input label="Tienda" labelPlacement="stacked" [(ngModel)]="store"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input label="URL imagen" labelPlacement="stacked" [(ngModel)]="image"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="createUser()">Registrarse</ion-button>
      </ion-content>
  </ng-template>
</ion-modal>